propel:
  _attributes:      { package: plugins.sfEasyAuthPlugin.lib.model }
  
  sf_easy_auth_user:
    _attributes:    { phpName: sfEasyAuthUser }
    id:             ~
    username:       { type: varchar(50), required: true, index: unique }
    password:       { type: varchar(32), required: true }
    email:          { type: varchar(255), required: true, index: unique }
    email_confirmed: { type: boolean, default: 0 }
    salt:           { type: varchar(32), required: true }
    created_at:     ~
    updated_at:     ~
    last_login:     { type: timestamp }
    last_login_attempt:   { type: timestamp }
    failed_logins:  { type: integer, default: 0 }
    locked_by_admins:        { type: boolean, default: 0 }
    remember_key:   { type: varchar(42), index: true }
    remember_key_lifetime:  { type: timestamp }
    auto_login_hash: { type: varchar(32) }
    password_reset_token: { type: varchar(12) }
    password_reset_token_created_at: { type: timestamp }
    has_extra_credentials:   { type: boolean, default: 0 }
    type:
      type: varchar(10)
      required: false
      default: null
    profile_id:  { type: integer, required: false, index: true }
        
  sf_easy_auth_user_credential:
    _attributes:    { phpName: sfEasyAuthUserCredential }
    user_id:
      type: integer
      foreignTable: sf_easy_auth_user
      foreignReference: id
      required: true
      onDelete: cascade
      primaryKey: true
    credential:  { type: varchar(60), required: true, primaryKey: true }
    profile_id:  { type: integer, required: false, default: null }
