propel:
  _attributes:      { package: plugins.sfEasyAuthPlugin.lib.model }
  
  sf_easy_auth_user:
    _attributes:    { phpName: sfEasyAuthUser }
    id:             ~
    username:       { type: varchar(50), required: true, index: unique }
    password:       { type: varchar(32), required: true }
    email:          { type: varchar(255), required: true, index: unique }
    salt:           { type: varchar(32), required: true }
    created_at:     ~
    updated_at:     ~
    last_login:     { type: timestamp }
    last_login_attempt:   { type: timestamp }
    failed_logins:  { type: integer, default: 0 }
    enabled:        { type: boolean, default: 1 }
    remember_key:   { type: varchar(42), index: unique }
    remember_key_lifetime:  { type: timestamp }
    auto_login_hash: { type: varchar(32) }
    password_reset_token: { type: varchar(8) }
    has_extra_credentials:   { type: boolean, default: 0 }
    type:
      type: varchar(10)
      index: true
      inheritance:
        <?php 
          $data = sfConfig::get('app_sf_easy_auth_schema_inheritance');
          for($i=0; $i<count($data); $i++)
          {
            echo $data[$i];
            echo ($i+1 < count($data)) ? "\n        " : "\n";
          } ?>
    profile_id:  { type: integer, default: 0 }
        
  sf_easy_auth_user_credentials:
    id: ~
    user_id:
      type: integer
      foreignTable: sf_easy_auth_user
      foreignReference: id
      required: true
      index: true
    credential:  { type: varchar(60), required: true }
    profile_id:  { type: integer, default: 0 }